body{
	background-repeat: no-repeat;
}
h1{
               color:skyblue;
}
p{
	color:white
}
h1{
	text-align: center;
}
p{
	text-align: center;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2{
	text-align: center;
}
h2{
	color: white;
}
#gallery{
	list-style: none;
}

#gallery li{
	display: inline-table;
	padding: 10px;
}
gallery{
	text-align: center;
}

